// $font-body: 'Helvetica Neue', calibri, corbel, helvetica,
//   roboto, droid, sans-serif;
// $font-headline: bower, georgia, 'Times New Roman', serif;

$tablet: 1200px;
$ipad-pro: 1024px;
$mobile: 767px;
$mobile-small: 375px; /* stylelint-disable-line scss/dollar-variable-pattern */
$iphone-se: 320px;

$padding-desktop: 80px;
$padding-mobile: 48px;

$sticky-share-header-height: 64px;
