@import './custom-variables.scss';

.is-full-screen-interactive {
  margin-bottom: 0 !important;
  min-height: 100vh;
}

.is-full-width {
  margin-top: 72px !important;
  margin-bottom: 0 !important;
}

.mds-input {
  margin-bottom: 0 !important;
}

.wrapper {
  transform: translateZ(0px);
}

@media screen and (max-width: 1180px) {
  .is-full-width {
    margin-top: 48px !important;
  }
}

@media screen and (max-width: $mobile) {
  .is-full-width {
    margin-top: 24px !important;
  }
}
